{% extends 'base.html' %}
{% block content %} 
    <h1>finish tablero 1 </h1>
    <h2>Download this file</h2>
    <p><a href="{{ url_for('download_homicidios_variables') }}">HOMICIDIOS VARIABLES</a>---- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=dcdb007ff621427ca2117642a968daed&sublayer=0&view=table&sortOrder=desc&sortField=defaultFSOrder#overview">HOMICIDIOS VARIABLES ESRI</a></p>
    <p><a href="{{ url_for('download_tcp_categoria_pdet') }}">TCP Categoria PDET</a>---- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=2dc9f54b25894ada9aacb3718e1dd2c9&sublayer=0&view=table&sortOrder=desc&sortField=defaultFSOrder#overview">TCP Categoria PDET A ESRI</a></p>
    <p><a href="{{ url_for('download_tcp_departamento') }}">TCP Departamento</a>---- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=9a8cc39583df431c8bb7c43c72f4bfe4&sublayer=0&view=table&sortOrder=desc&sortField=defaultFSOrder#overview">TCP DEPARTAMENTO ESRI</a></p>
    <p><a href="{{ url_for('download_ctp_policia') }}">CTP Policia</a>---- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=d9429526d7cf42b3b6c4b01e7c9f8aa5&sublayer=0#overview">CTP POLICIA ESRI</a></p>
{% endblock %}  
