{% extends 'base.html' %}
{% block content %} 
    <h1>finish tablero7 </h1>
    <h2>Download this file</h2>
<p> <a href="{{url_for('download_variables')}}">VARIABLES</a> ----- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=3712a52f42434835a75deeacb4390f71&sublayer=0">VARIABLES ESRI</a></p>
<p> <a href="{{url_for('download_tcp')}}">TCP</a> ----- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=10d1790acce245a4bf55c3f20b28e807&sortOrder=desc&sortField=defaultFSOrder#overview">TCP ESRI</a></p>
<p> <a href="{{url_for('download_periodo')}}">PERIODO</a> ----- <a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=06c4ab23a4a54258b8267a688629d27e">PERIODO_PRUEBA ESRI</a> -----<a href="https://project-esri-co.maps.arcgis.com/home/item.html?id=e3f8ce1f5f374c73b35dec7bc2bdffe0">PERIODO ESRI</a></p>
{% endblock %}  
